@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 2px black solid;
    border-right: 2px black solid;
    background-color: #1c5858;
  }
  .innerContainer {
    margin-top: 5vh;
  
  }
  
  
  .container__items {
    /* Reset styles */
    box-shadow: 0px 2px 10px black;
    list-style-type: none;
    margin: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f69000;
    border-radius: 10px;
    /* min-width: 20rem; */
    width: 70vw;
  }
}

@media only screen and (min-width: 900px) {
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 33%;
    margin-right: 33%;
    border-left: 2px black solid;
    border-right: 2px black solid;
    background-color: #1c5858;
  }
  .innerContainer {
    margin-top: 5vh;
  
  }
  
  
  .container__items {
    /* Reset styles */
    box-shadow: 0px 2px 10px black;
    list-style-type: none;
    margin: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f69000;
    border-radius: 10px;
    /* min-width: 20rem; */
    width: 30vw;
  }
}



.container__item {
  margin-bottom: 8px;
}

.container__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.container__circle {
  /* Rounded border */
  background-color: #53b1b1;
  border-radius: 9999px;
  
  align-items: center;
  display: flex;
  justify-content: center;

  /* Size */
  margin: 2px 2px;
  height: 32px;
  width: 32px;
}

.container__title {
  /* Take available width */
  flex: 1;
  padding-left: 5 px;
}

.container__desc {
  /* Make it align with the title */
  margin-left: 18px;
  border-left: black 1px solid;
  padding-left: 24px;
  margin-top: 5px;
}

.item__right {
    /* Sticks to the right */
    padding: 30px;

}
