.container {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 33%;
  margin-right: 33%;
  border-left: 2px black solid;
  border-right: 2px black solid;

}
.innerContainer {
  /* Used to position the left vertical line */
  position: relative;
}
.container__line {
  /* Border */
  border-right: 2px solid #aaa;

  /* Positioned at the left */
  left: 15px;
  position: absolute;
  bottom: 0px;

  /* Take full height */
  height: 50%;
}

.container__items {
  /* Reset styles */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.container__item {
  margin-bottom: 8px;
}

.container__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.container__circle {
  /* Rounded border */
  background-color: rgb(170, 170, 170);
  border-radius: 9999px;
  
  align-items: center;
  display: flex;
  justify-content: center;

  /* Size */
  height: 32px;
  width: 32px;
}

.container__title {
  /* Take available width */
  flex: 1;
}

.container__desc {
  /* Make it align with the title */
  margin-left: 48px;
}
