.card {
  display: flex;
  flex-direction: column;
}

.card__cover {
  height: 150px;
  width: 100%;
  background-image: url(../../../assets/background.jpg);
}

.card__content {
  /* Take available height */
  flex: 1;
}
.container {
  /* Center the content */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: 100vh;
  width: 100%;

}

.menu {
  border-radius: 10px;
  background-color: crimson;
  box-shadow: 2px 2px 20px black;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
}
